.pageContainer {
    margin: 2rem 3rem;
}

.problemTitle {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.demoButton {
    border-radius: 50px;
    border: 2px solid black;
    /*width: 10rem;*/
    height: 3rem;
    font-size: 1rem;
    padding: 0rem 1rem;
}

.descriptionContainer {
    display: flex;
    padding: 0rem 1rem;
}

.descriptionContainer p {
    width: 60%;
}

.descriptionAudio {
    width: 40%;
}