.container {
    box-sizing: border-box;
    margin-left: var(--margin-primary-container);
    margin-right: var(--margin-primary-container);
    margin-top: var(--margin-secondary-container);
    margin-bottom: var(--margin-secondary-container);
    /*width: 100%;*/
}

.subContainer {
    box-sizing: border-box;
    display: flex;
    /*width: 100%;*/
}

.inputAndButtonContainer {
    box-sizing: border-box;
    padding: 1rem;
    /*display: flex;
    flex-direction: column;
    justify-content: left;*/
    width: 55%;
}