.containerHidden {
    display: none;
}

.containerVisible {
    display: block;
    height: 60vh;
    overflow: scroll;
}

.consecutiveEmojisHidden {
    display: none;
}

.consecutiveEmojisVisible {
    display: block;
}

.consecutiveInfoContainerHidden {
    display: none;
}

.consecutiveInfoContainerVisible {
    display: block;
}

.withinSentenceInfoContainerHidden {
    display: none;
}

.withinSentenceInfoContainerVisible {
    display: block;
}

.emojisWithinASentenceHidden {
    display: none;
}

.emojisWithinASentenceVisible {
    display: block;
}